.content-title {
		@extend .elements;
		text-align: center;
		@extend .font-size-2;
}


.download .presse {
	border: none;
	padding: 0px;
	margin: 0px;
}

.download .title-link {
	text-align: center;
	@extend .font-size-1;
	width: 100%;
	display: flex;
	border-top: 1px solid black;
	@extend .elements;
	border-bottom: 1px solid black;
	margin-bottom: $distances-1;
}

.download .download-datei {
  width: 100%;
	padding-left: 10px;
	padding-right: 10px;

	@media screen and (max-width: $break-middle) {
		width: calc(100vw / 5 - 17.5px);
	}

	@media screen and (max-width: $break-small) {
		width: calc(100vw / 3 - 17.5px);
	}
}

.download .post img {
	height: auto;
	width: 100%;
}

.download .download-datei {
    padding-bottom: $distances-1;
}

.download .title-link a {
    text-align: center;
    width: 100%;
}

.download .element-title {
    display: none;
}

.download .content-title {
	@extend .font-size-3;
}
