.kategorie-name {
	@extend .elements;
	text-align: center;
	@extend .font-size-3;
}

.kategorie-content {
	@extend .elements;
	@extend .elements-wrap;
  padding-bottom: 0px;
	margin-bottom: -$distances-2;
}

.ensemble {
	@extend .elements-wrap-inside;
	padding-bottom: $distances-4;

}

.ensemble .image-normal {
		border: none;
		padding-top: 0px;
}

.ensemble .title-link {
	text-align: center;
}

.ensemble .image-normal .inside {
    width: calc(100vw / 5 - 17.5px);
    height: calc(100vw / 5 - 17.5px);
		overflow: hidden;

		@media screen and (max-width: $break-small) {
			width: calc(100vw / 3 - 17.5px);
	    height: calc(100vw / 3 - 17.5px);
		}
}

.ensemble .image-normal img {
    width: 100%;
    height: 100%;
		object-fit: cover;

}

.page-template-page-ensemble .caption {
	display: none;
}
