.spielplan-hide {
	//display: none;
}

.events-this {
		padding-bottom: 0px;
}


.home .events-all {
    display: none;
}

.events-all {
		@extend .elements;
		padding-bottom: 0px;
}

.events-this .element-title {
	border-top: 1px solid black;
	padding-top: $distances-1;
}

.ticket {
	text-align: center;
	padding-bottom: $distances-1;
	@extend .font-size-2;
	@extend .elements;
	  font-family: 'Theinhardt';
}

.post-event {
    @extend .table;
		padding-top: $distances-1;
		padding-bottom: $distances-2;

		@media screen and (max-width: $break-small) {
			display: block;
		}
}

.post-event a {
    width: 100%;
}

.post-event .lokation {
    width: calc(100% / 3);
    float: right;
    text-align: right;

		@extend .font-size-2;

		@media screen and (max-width: $break-small) {
			width: 100%;
			float: none;
			text-align: center;
		}
}

.post-event .date-time {
    width: calc(100% / 3);
    text-align: center;
    float: left;

		@extend .font-size-2;

		@media screen and (max-width: $break-small) {
			width: 100%;
			float: none;
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
		}
}

.post-event .title {
    width: calc(100% / 3);
    float: left;

		@extend .font-size-3;

		@media screen and (max-width: $break-small) {
			width: 100%;
			float: none;
			text-align: center;
		}
}
