.wrapper-inside {
	margin-left: $distances-3;
	margin-right: $distances-3;
}

.elements {
	border-top: 1px solid black;
	padding-top: $distances-1;
	padding-bottom: $distances-1;
}

.font-size-1 {
	font-size: 17px;
	line-height: 20px;

	@media screen and (max-width: $break-small) {
		font-size: 15px;
		line-height: 18px;
	}
}

.font-size-2 {
	font-size: 23px;
	line-height: 30px;

	@media screen and (max-width: $break-small) {
		font-size: 20px;
		line-height: 23px;
	}
}

.font-size-3 {
	font-size: 23px;
	line-height: 35px;
	font-weight: 500;
	@media screen and (max-width: $break-small) {
		font-size: 20px;
		line-height: 23px;
	}
}

.table {
  border-top: 1px solid black;
  padding-top: $distances-1;
  padding-bottom: $distances-1;
  display: flex;
}

.elements-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	@media screen and (max-width: $break-small) {
	}
}

.elements-wrap-inside {
	width: calc(100vw / 5 - 17.5px);
	padding-left: 10px;
	padding-right: 10px;

	@media screen and (max-width: $break-middle) {
		width: calc(100vw / 3 - 17.5px);
	}

	@media screen and (max-width: $break-small) {
		width: 100%;
		padding: 0px;
	}
}

.both-side-indent-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.both-side-indent-1 {
	padding-left: 10%;
	padding-right: 10%;

	@media screen and (max-width: $break-middle) {
		padding-left: 5%;
		padding-right: 5%;
	}

	@media screen and (max-width: $break-small) {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.image-vorschau-height {
	height: $image-height-1;

	@media screen and (max-width: $break-middle) {
		height: 20vw;
	}

	@media screen and (max-width: $break-small) {
		height: 60vw;
	}
}
