/* @font-face {
  font-family: 'Theinhardt';
  src: url("../fonts/Theinhardt-Light.eot");
  src: url("../fonts/Theinhardt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Theinhardt-Light.woff") format("woff"), url("../fonts/Theinhardt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Theinhardt Light';
  src: url("../fonts/Theinhardt-Light.eot");
  src: url("../fonts/Theinhardt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Theinhardt-Light.woff") format("woff"), url("../fonts/Theinhardt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; } */
