html, * {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Theinhardt';
	@extend .font-size-1;
	overflow-x: hidden;
}

img {
	width: 100%;
	height: auto;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

.wrapper {
    position: absolute;
    top: 100vh;
    background: white;
    width: 100%;
}

.element-title {
	text-align: center;
	@extend .font-size-3;
	padding-bottom: $distances-1;
	padding-top: $distances-5;
	width: 100%;
	text-transform: uppercase;
}

.color {
	@media screen and (max-width: $break-small) {
		background: none !important;

	}
}
