.image-main img {
    width: 100vw;
    height: 100vh;
		object-fit: cover;
		position: fixed;
}

.navigation {
		@extend .wrapper-inside;
		padding-top: $distances-2;
		text-transform: uppercase;
		@extend .font-size-3;
		padding-bottom: 10px;
		display: flex;

		@media screen and (max-width: $break-small) {
			display: none;
		}
}


.navigation.mobile {
	display: none;

	@media screen and (max-width: $break-small) {
		display: inline-block;
		width: calc(100% - 60px);
    background: white;
	}
}

.left {
    float: left;
    width: 100px;
}

.mobile .left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 100px;
    text-align: right;
}

.mobile .right {
    float: left;
    width: 50%;
}

.middle {
    text-align: center;
    width: calc(100% - 200px);
    float: left;
		cursor: pointer;
}

.mobile .middle {
    width: 100%;
    float: none;
		border-bottom: 1px solid black;
    padding-bottom: 13px;
    margin-bottom: 13px;
}

.start {
	display: none;
}

.home .start {
    text-align: center;
    width: calc(100% - 200px);
    float: left;
		cursor: pointer;
		display: block;
}

.home .mobile .start {
    width: 100%;
    float: none;
		border-bottom: 1px solid black;
    padding-bottom: 13px;
    margin-bottom: 13px;
}


.home .middle {
	display: none;
}

.language-chooser-item-de::after {
    content: "|";
    padding-left: 5px;
    font-weight: normal;
}

.language-chooser-item {
    float: left;
    padding-right: 5px;
    font-weight: normal;
}

.active.language-chooser-item {
  font-weight: 500;
}

