.insert-stuecke {
	@extend .elements;
	@extend .elements-wrap;
	margin-bottom: calc( #{$distances-4} - #{$distances-4} - #{$distances-4} - 1px);
}

.vorschau-artikel {
    @extend .elements-wrap-inside;
		padding-bottom: $distances-4 !important;
}


.insert-stuecke .image-poster {
    border-top: none;
    padding-top: 0px;
    padding-bottom: $distances-2;
}

.insert-stuecke .inside {
	width: 100%;
}

.insert-stuecke .title-link {
	text-align: center;
}

.insert-stuecke .element-title {
    border-bottom: black 1px solid;
    margin-bottom: 20px;
}
