.menu {
	opacity: 0;
	width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(255,255,255,0.5);
  top: 0px;
  left: 0px;
	padding: $distances-3;
  z-index: 10;
	transition: 0.5s ease;
	pointer-events: none;
	column-count: 3;
	@extend .font-size-3;

	@media screen and (max-width: $break-small) {
		column-count: 1;
		overflow-y: scroll;
		display: grid;
    height: 80vh;
		padding-bottom: 20vh;
	}
}


.menu-active .menu {
	pointer-events: all;
	opacity: 1;
}

.menu-active .wrapper,
.menu-active img {
	transition: 0.5s ease;
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}

.menu .sub-menu {
  padding-top: 2px;

	@media screen and (max-width: $break-small) {
		padding-top: 4px;
	}
}

.menu .menu-item  {
	@extend .font-size-2;
	margin-bottom: $distances-3;
	-webkit-column-break-inside: avoid;
  page-break-inside: avoid;
	padding-right: 5vw;
}

.menu .sub-menu .menu-item {
	@extend .font-size-1;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.menu .navigation {
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: 10;
		width: calc(100% - 60px);
}

.menu-button {
	cursor: pointer;
}

// UMBRUCH
.menu-item-type-custom {
visibility: hidden;
}

// PROJEKTE – IMMER NEGATIV VON UMBRUCH
.menu-item-type-custom.menu-item-has-children,
.sub-menu .menu-item-type-custom {
		height: auto;
		visibility: visible;
}


// COLOURS

.menu-menu-1-container {
	margin-left: -20px;
}

.menu-menu-1-container .color {
	padding-left: 20px;
	border-radius: 10px;
	padding-top: 5px;
}

.menu-menu-1-container li a {
	width: 100%;
  display: inline-block;
}
