.vorschau-projekte {
	@extend .elements;
  @extend .elements-wrap;
}

.vorschau-projekt {
  @extend .elements-wrap-inside;
}

.vorschau-projekt .text-kurz {
	border: none;
	padding-top: $distances-2;
	@extend .font-size-1;
	@extend .both-side-indent-0;
	text-align: left;
}

.vorschau-projekt img {
    object-fit: cover;
		@extend .image-vorschau-height;
}

.projekte-template-default .titel-2 {
	border-top: 1px solid black;
	display: block;
	padding-top: $distances-1;
}


// Logo in contact page 

.single-projekte.postid-1590 .image-normal{
	padding-left: 10%!important;
	text-align: left;
	padding-bottom: 0px;
	padding-top: 10px;

		@media screen and (max-width: $break-middle){
			padding-left: 5%!important;
		}
		@media screen and (max-width: $break-small){
			padding-left: 0%!important;
		}
}
.single-projekte.postid-1590 .image-normal .inside{
	height: 10vh;
}

.single-projekte.postid-1590 .image-normal .inside img{
	width: auto;
    height: 100%;
	
}
.single-projekte.postid-1590 .content .flex div:nth-child(3){
	border-top: none!important;
	padding-top: 10px;
}




//End of ogo in contact page 