.untertitel {
	@extend .elements;
	text-align: center;
	@extend .font-size-3;
}

.sponsoren {
		@extend .elements;
}

.presse {
		@extend .elements;
}

.single-stuecke .title {
	  font-family: 'Theinhardt';
}


.single-stuecke .date-time {
	@extend .font-size-3;
}

.single-stuecke .spielplan {
	display: none;
}
