.vorschau-stueck {
  display: none;
	@extend .elements-wrap-inside;
	padding-bottom: $distances-4;
}

.vorschau-stueck .image-poster {
	border: none;
	padding-top: 0px;
}

.single-stuecke .image-poster img {
	width: 100%;
	height: auto;
}

.image-poster img {
	width: 100%;
	height: 26.8vw;
	object-fit: cover;

	@media screen and (max-width: $break-middle) {
    height: 44.8vw;
	}

	@media screen and (max-width: $break-small) {
		height: 124vw;
	}
}

.vorschau-stueck .title-link {
	text-align: center;
}

.filter-active {
  display: block;
}

.vorschau-stuecke {
    @extend .elements-wrap;
		@extend .elements;
		padding-bottom: 0px;
	 margin-bottom: -$distances-2;
}

.vorschau-stuecke .image-poster .inside {
    width: 100%;
}

.filter {
	@extend .elements;
	@extend .elements-wrap;
}

.filter-item {
	@extend .elements-wrap-inside;
	cursor: pointer;
	text-align: center;

	@media screen and (max-width: $break-middle) {
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	@media screen and (max-width: $break-small) {
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.filter-all-active {

	.filter-all {
		font-weight: 500;
	}
}

.filter-archive-active {

	.filter-archiv {
		font-weight: 500;
	}
}


.filter-aktuell-active {

	.filter-aktuell {
		font-weight: 500;
	}
}
