.text-kurz {
		@extend .elements;
		@extend .font-size-2;
		@extend .both-side-indent-1;
		text-align: center;

		@media screen and (max-width: $break-small) {
			text-align: left;

		}
}

.text-text {
		@extend .elements;
		@extend .font-size-2;
		@extend .both-side-indent-1;
}
