.vorschau-aktuelles {
	@extend .elements;
	@extend .elements-wrap;
}

.vorschau-aktuelles .element-title {
	border-bottom: 1px solid black;
	margin-bottom: $distances-1;
}

.vorschau-aktuell {
	@extend .elements-wrap-inside;
	
	@media screen and (max-width: $break-small) {
		padding-bottom: 40px;
	}
}

.image-vorschau img {
    object-fit: cover;
		@extend .image-vorschau-height;
}

.image-vorschau {
    margin-bottom: $distances-2;
}

.vorschau-aktuell .text-kurz {
	border: none;
	padding-top: $distances-2;
	@extend .font-size-1;
	@extend .both-side-indent-0;
	text-align: left;
}


.vorschau-aktuell .title-link {
	text-align: center;
}
