/*
Theme Name: BAAL NOVO
Author: Marius Jopen
Author URI: http://www.mariusjopen.com
Description: Theme for Baal Novo
Version: 1.0
*/

@font-face {
    font-family: 'Theinhardt';
    src: url('/fonts/Theinhardt-Light.eot');
    src: url('/fonts/Theinhardt-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Theinhardt-Light.woff') format('woff'),
        url('/fonts/Theinhardt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt Light';
    src: url('/fonts/Theinhardt-Light.eot');
    src: url('/fonts/Theinhardt-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Theinhardt-Light.woff') format('woff'),
        url('/fonts/Theinhardt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url("/fonts/Theinhardt-Light.eot");
    src: url("/fonts/Theinhardt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Theinhardt-Light.woff") format("woff"), url("../fonts/Theinhardt-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Theinhardt Light';
    src: url("/fonts/Theinhardt-Light.eot");
    src: url("/fonts/Theinhardt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Theinhardt-Light.woff") format("woff"), url("../fonts/Theinhardt-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }
  
/*
@font-face {
    font-family: 'Theinhardt Medium';
    src: url('/fonts/Theinhardt-Md.woff');
    src: url('/fonts/Theinhardt-Md.woff') format('woff');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Theinhardt Medium Light';
    src: url('/fonts/Theinhardt-MediumIta.woff');
    src: url('/fonts/Theinhardt-MediumIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
} */

@font-face {
    font-family: 'TheinhardtMedium';
    src: url('/fonts/Theinhardt-Medium.eot');
    src: url('/fonts/Theinhardt-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Theinhardt-Medium.woff2') format('woff2'),
        url('/fonts/Theinhardt-Medium.woff') format('woff'),
        url('/fonts/Theinhardt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
